<div class="container-content" id="breeds">
    <p class="judul-content" style="color: white;">a wide variety of famous cat breeds</p>
    <div class="kontainer-readmore">
        <div class="kotak-readmore">
            <img src="..\assets\persia.jpg">
            <div class="konten-readmore">
                <h2>Persia</h2>
                <p>Persian cats are a long-haired domestic cat breed characterized by a round face and short
                    muzzle.</p>
                <a href="https://id.wikipedia.org/wiki/Kucing_persia"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\anggora.jpg">
            <div class="konten-readmore">
                <h2>Anggora</h2>
                <p>The Turkish Anggora is one of the oldest natural domestic cat breeds. The breed originated in
                    Ankara, Turkey.
                <p>
                    <a href="https://id.wikipedia.org/wiki/Anggora_turki"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\siberian.jpg">
            <div class="konten-readmore">
                <h2>Siberia</h2>
                <p>Siberian cats are one of the natural domestic cat breeds native to Siberia, Russia.</p>
                <a href="https://id.wikipedia.org/wiki/Kucing_siberia"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\maine coon.png">
            <div class="konten-readmore">
                <h2>Maine Coon</h2>
                <p>Maine coons are one of the oldest and most natural cat breeds that originated in Maine,
                    United States.</p>
                <a href="https://id.wikipedia.org/wiki/Maine_coon"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\siamm.jpg">
            <div class="konten-readmore">
                <h2>Siam</h2>
                <p>Siamese cats were one of the first cat breeds to be clearly recognized as oriental.</p>
                <a href="https://id.wikipedia.org/wiki/Kucing_siam"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\munchkin.jpg">
            <div class="konten-readmore">
                <h2>Munchkin</h2>
                <p>Munchkin cats are one of the short-legged cat breeds formed due to natural genetic mutations.
                <p>
                    <a href="https://id.wikipedia.org/wiki/Kucing_munchkin"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\himalaya.jpg">
            <div class="konten-readmore">
                <h2>Himalaya</h2>
                <p>Himalayan cats are one of the domestic cat breeds resulting from a cross between a Persian
                    cat and a Siamese cat.</p>
                <a href="https://id.wikipedia.org/wiki/Kucing_siberia"><button>Read More</button></a>
            </div>
        </div>
        <div class="kotak-readmore">
            <img src="assets\ragdoll.jpg">
            <div class="konten-readmore">
                <h2>Ragdoll</h2>
                <p>Ragdolls are one of the largest cat breeds in the world and have half-length hair with blue
                    eyes.</p>
                <a href="https://id.wikipedia.org/wiki/Maine_coon"><button>Read More</button></a>
            </div>
        </div>
    </div>
</div>