<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopthead', { title: 'About Cats Protection' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">

            <!-- CONTENT DESCRIPTION START -->

            <div class="content-title">
                <h1>Addressing the Issue of Stray Cats in Indonesia: <br>Challenges and Solutions</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>In <b>Indonesia</b>, the issue of stray cats is a significant concern, particularly in urban areas. Stray cats often face various challenges, including lack of shelter, food scarcity, and exposure to diseases. These cats are typically domestic cats that have been abandoned or lost by their owners.</p><br>
                <p>The overpopulation of stray cats can lead to environmental and public health problems. They may contribute to the spread of diseases such as rabies and toxoplasmosis. Additionally, stray cats may prey on native wildlife, disrupting the ecosystem.</p><br>
                <p>Various animal welfare organisations and groups in Indonesia are working to address the feral cat problem, one of which is <b>Catcyclopedia</b>. They often focus on initiatives such as trap-neuter-return (TNR) programmes to control the population, provide shelter and food for feral cats, and promote responsible pet ownership through education and awareness campaigns.</p><br><br><br>
            </div>
            <div class="content-title">
                <h1>Take care of your lovely cat, make them feel loved and at home</h1><br>
            </div>

            <!-- CONTENT DESCRIPTION END -->


            <!-- CARD CONTENT SECTION START-->

            <div class="container-strip">
                <div class="strip">
                    <div class="strip-card">
                        <img src="/public/assets/cat-protect.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Grooming your cats</h2>
                            <p>Comb your cat's coat daily to prevent tangles or dreadlocks, especially in long-haired cats. Take your cat to pet care for professional grooming once a month.</p>
                            <br><br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="/public/assets/cat-foods.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Nutritious Food for Cats</h2>
                            <p>Provide a nutritious and balanced diet according to your cat's needs on a regulas basis, such as foods that contain taurine and essential amino acids for eye and heart health. </p>
                            <br><br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="/public/assets/cat-dental.png" alt="anggora">
                        <div class="strip-content">
                            <h2>Dental Care for Cats</h2>
                            <p>Regularly check your cat's gums and teeth for dental problems. Take your cat to the vet to check your cat's dental health if you have any doubts.</p>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-strip">
                <div class="strip">
                    <div class="strip-card">
                        <img src="/public/assets/cat-parasite.jpeg" alt="anggora">
                        <div class="strip-content">
                            <h2>Cat Parasite Control</h2>
                            <p>Give your cat deworming medication every 3 months to prevent worms from developing and flea drops to your cat's entire body once a month to prevent flea infestation.</p>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="/public/assets/cat-vaccination.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Cat Vaccination</h2>
                            <p>Vaccinate your cat once a year with rabies, FVRCP and FeLV vaccines if your cat is under 1 year old and then once a year thereafter.</p>
                            <br><br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="/public/assets/cat-sterilization.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Cat Sterilization</h2>
                            <p>Sterilization of cats is crucial for controlling the feline population, reducing the number of stray cats, and preventing the spread of diseases.</p>                            
                            <br><br>
                        </div>
                    </div>
                </div>
            </div><br><br><br><br><br>

            <!-- CARD CONTENT SECTION END -->

            
            <!-- DONATE CONTENT SECTION START -->

            <div class="container-about">
                <div class="container-left">
                    <h2 style="font-weight: bolder;">Our CATS (Cats and their stats) report</h2><br>
                    <p>In 2023 we spoke to over 10,000 people, from lifelong cat lovers to potential owners. The result? Up-to-date cat statistics on all things feline, from cat behaviour to ownership with the increased cost of living.</p><br>
                    <p><b>If you want to donate, you can do it here.</b></p>
                    <button class="btn-secondary"><a href="/donate" style="color: #fae6fa;">Donate</a></button>
                </div>
                <div class="container-right">
                    <img src="/public/assets/cat-13.png" alt="Cat" height="587px" width="587px">
                </div>
            </div>

            <!-- DONATE CONTENT SECTION END -->

        </div>

        <!-- CONTENT END -->

        <!-- FOOTER START -->

        <%- include('layouts/adoptfooter') %>

        <!-- FOOTER END -->

    </div>

</body>

</html>