<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'About Cats Protection' }) %>

        <!-- NAVBAR END -->

        <!-- FOOTER START -->

        <!-- <%- include('layouts/adopt/adoptfooter') %> -->

        <!-- FOOTER END -->

    </div>

</body>

</html>