<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'About Cats Protection' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">
            <div class="content-title">
                <h1>Addressing the Issue of Stray Cats in Indonesia: <br>Challenges and Solutions</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>In <b>Indonesia</b>, the issue of stray cats is a significant concern, particularly in urban areas. Stray cats often face various challenges, including lack of shelter, food scarcity, and exposure to diseases. These cats are typically domestic cats that have been abandoned or lost by their owners.</p><br>
                <p>The overpopulation of stray cats can lead to environmental and public health problems. They may contribute to the spread of diseases such as rabies and toxoplasmosis. Additionally, stray cats may prey on native wildlife, disrupting the ecosystem.</p><br>
                <p>Various animal welfare organisations and groups in Indonesia are working to address the feral cat problem, one of which is <b>Catcyclopedia</b>. They often focus on initiatives such as trap-neuter-return (TNR) programmes to control the population, provide shelter and food for feral cats, and promote responsible pet ownership through education and awareness campaigns.</p><br><br>
            </div>
            <div class="container-strip">
                <div class="strip">
                    <div class="strip-card">
                        <img src="assets/anggora.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Anggora</h2>
                            <p>Age          : 1 Year 6 Months 26 Days</p>
                            <p>Gender       : Male</p>
                            <p>Color        : White</p>
                            <p>Intake date  : 2/29/2024</p>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="assets/anggora.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Anggora</h2>
                            <p>Age          : 1 Year 6 Months 26 Days</p>
                            <p>Gender       : Male</p>
                            <p>Color        : White</p>
                            <p>Intake date  : 2/29/2024</p>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card">
                        <img src="assets/anggora.jpg" alt="anggora">
                        <div class="strip-content">
                            <h2>Anggora</h2>
                            <p>Age          : 1 Year 6 Months 26 Days</p>
                            <p>Gender       : Male</p>
                            <p>Color        : White</p>
                            <p>Intake date  : 2/29/2024</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT END -->

        <!-- FOOTER START -->

        <%- include('layouts/adopt/adoptfooter') %>

        <!-- FOOTER END -->

    </div>

</body>

</html>