<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'Adopt a cat' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">
            <div class="content-title">
                <h1>Thinking about adopting a cat or kitten? Find out more about adopting a <br>cat with Cats Protection in our guide.</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>At Cats Protection we believe in matching the right cat to the right home. That's why we look at everything from your potential pet's personality to where you live – creating the perfect match for both cat and owner.</p><br>
                <p>While there can be a lot to think about when adopting a cat, Cats Protection aims to take away some of your worries, providing plenty of advice along the way.</p><br>
            </div>
            <div class="container-card">
                <div class="kotak-card">
                    <img src="assets/anggora.jpg" alt="anggora"00>
                    <div class="konten-card">
                        <h2>Anggora</h2>
                        <p>age          : 1 year 6 months 26 days</p>
                        <p>gender       : male</p>
                        <p>color        : white</p>
                        <p>intake date  : 2/29/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets/himalaya.jpg" alt="himalaya">
                    <div class="konten-card">
                        <h2>Himalaya</h2>
                        <p>age          : 1 year 1 months 1 days</p>
                        <p>gender       : female</p>
                        <p>color        : brown/white</p>
                        <p>intake date  : 1/19/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets/maine coon.png" alt="Maine_coon">
                    <div class="konten-card">
                        <h2>Maine Coon</h2>
                        <p>age          : 6 months 26 days</p>
                        <p>gender       : female</p>
                        <p>color        : brown</p>
                        <p>intake date  : 1/5/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets/munchkin.jpg" alt="Munchkin">
                    <div class="konten-card">
                        <h2>Munchkin</h2>
                        <p>age          : 1 year 26 days</p>
                        <p>gender       : male</p>
                        <p>color        : gray</p>
                        <p>intake date  : 12/29/2023</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets\persia.jpg" alt="persia">
                    <div class="konten-card">
                        <h2>Persia</h2>
                        <p>age          : 1 year 2 months 16 days</p>
                        <p>gender       : male</p>
                        <p>color        : gray/white</p>
                        <p>intake date  : 1/9/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets/ragdoll.jpg" alt="ragdoll">
                    <div class="konten-card">
                        <h2>Ragdoll</h2>
                        <p>age          : 11 months 8 days</p>
                        <p>gender       : female</p>
                        <p>color        : white/brown</p>
                        <p>intake date  : 1/18/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets\siamm.jpg" alt="siamm">
                    <div class="konten-card">
                        <h2>Siamm</h2>
                        <p>age          : 1 year 11 months 8 days</p>
                        <p>gender       : female</p>
                        <p>color        : white/black</p>
                        <p>intake date  : 3/19/2024</p>
                    </div>
                </div>
                <div class="kotak-card">
                    <img src="assets\siberian.jpg" alt="siberian">
                    <div class="konten-card">
                        <h2>Siberian</h2>
                        <p>age          : 10 months 26 days</p>
                        <p>gender       : male</p>
                        <p>color        : white</p>
                        <p>intake date  : 4/19/2024</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT END -->

        <!-- FOOTER START -->

        <!-- <%- include('layouts/adopt/adoptfooter') %> -->

        <!-- FOOTER END -->

    </div>

</body>

</html>