<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') %>

    <body>
        <div class="container">
            <!-- NAVBAR START -->

            <%- include('layouts/adopthead', { title: 'Admin Dashboard' }) %>

                <!-- NAVBAR END -->

                <!-- CONTENT START -->

                <div class="container-dashboard">
                    <h1>Cat Adopt History</h1><br><br>
                    <!-- Tabel Riwayat Adopsi -->
                    <div class="scrollable-container-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Cat Name</th>
                                    <th>Adopt Date</th>
                                    <th>Recipient's Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Smokey</td>
                                    <td>2024-04-23</td>
                                    <td>Tigo Ilhami Fasyah</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>thigo.fasyah@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Nigger</td>
                                    <td>2024-03-21</td>
                                    <td>Farhan Kebab</td>
                                    <td>Jln. Andong III, Kabupaten Tangerang, Banten</td>
                                    <td>farhan@gmail.com</td>
                                    <td>85216441952</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- CONTENT END -->

        </div>

    </body>

</html>