<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'Make a donation' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">
            <div class="content-title">
                <h1>Silent Companions: Changing Stray Cats' Lives with Love and Donations</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>Donations to Cats Protection, no matter how big or small, make life better for cats and the people who care for them. At Cats Protection we stand up for every cat. Whether you choose a monthly donation or a one off-gift, your support will help us make sure cats and kittens get the care and kindness they deserve.</p><br>
                <h4>Together we're making a better life for cats, because life is better with cats.</h4><br>
            </div>
            <div class="content-desc">
                <p>Making a monthly gift is a powerful way to provide Cats Protection with a predictable income stream, allowing us to plan for the future and ensure we can continue our vital work for cats in need.  This stability is essential for us to effectively rescue, rehabilitate, and rehome cats, as well as advocate for their welfare on a larger scale.</p><br><br><hr><br><br>
            </div>
            <div class="content-title"><h1>Monthly Gift or Regular Donation</h1></div><br>
            <div class="container-strip">
                <div class="strip">
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 50.000,00</h2><br>
                            <p>giving water and nutritious food to the cats we care for for two weeks</p><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 75.000,00</h2><br>
                            <p>buy catnip toys for two cats, providing enrichment to stimulate their minds</p><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 150.000,00</h2><br>
                            <p>provide care for vaccination and parasite treatment in cats</p><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>

            <div class="content-desc">
                <p>While monthly donations provide a predictable income stream, a one-off gift or single donation is just as impactful. Your generosity allows us to address immediate needs for the cats in our care. It could be providing essential medical treatment, nutritious meals, or comfortable bedding. Every contribution, big or small, helps us make a difference in the lives of these deserving animals.</p><br><br>
                <h4>Together we're making a better life for cats, because life is better with cats.</h4><br><br><hr><br><br>
            </div>
            <div class="content-title"><h1>One-off Gift or Single Donation</h1></div><br><br>

            <div class="container-strip">
                <div class="strip">
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 150.000,00</h2><br>
                            <p>giving nutritious food to the cats we care for for 50 days along with vitamins</p><br><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 300.000,00</h2><br>
                            <p>buy 15 soft blankets to keep cats in our care warm, cosy and feeling safe in their beds</p><br><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                    <div class="strip-card-donate">
                        <div class="strip-content-donate"><br>
                            <h2>Rp. 750.000,00</h2><br>
                            <p>providing additional housing for cats to be adopted with full health services to maintain cat health</p><br>
                            <a href="https://saweria.co/CatcyclopediaCats" target="_blank"><button class="btn-donate">Please Select</button></a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-title"><br><br><br><br><br><br>
                <marquee behavior="" direction="">
                    <h1>"Your generosity paves the path for brighter tomorrows for stray cats, reminding us that compassion has the power to change lives, one meow at a time."</h1>
                </marquee>
            </div>

        </div>

        <!-- CONTENT END -->

        <!-- FOOTER START -->

        <%- include('layouts/adopt/adoptfooter') %>

        <!-- FOOTER END -->

    </div>

</body>

</html>