<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopt/adopthead', { title: 'Help and Advice' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content">
            <div class="content-title">
                <h1>Cats Protection is the UK's largest feline welfare charity.</h1>
            </div>
            <br>
            <div class="content-desc">
                <p>At Cats Protection we believe in matching the right cat to the right home. That's why we look at everything from your potential pet's personality to where you live – creating the perfect match for both cat and owner.</p><br>
                <p>While there can be a lot to think about when adopting a cat, Cats Protection aims to take away some of your worries, providing plenty of advice along the way.</p><br>
            </div>
            <br><br>
            <div class="content-title">
                <h1>Looking for cat advice? Our vet-approved guides focus on everything from how to care for a kitten to what to do if you've lost your cat.</h1><br>
            </div>
            <div class="container-img-card">
                <div class="image-card">
                    <div>
                    <img src="assets\cats1.jpeg" alt="">
                    <figcaption>Halo bang</figcaption></div>
                    <img src="assets\cats1.jpeg" alt="">
                </div>
                <div class="img-card">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                </div>
                <div class="image-card">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                </div>
                <div class="img-card">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                </div>
                <div class="image-card">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                </div>
                <div class="img-card">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                    <img src="assets\cats1.jpeg" alt="">
                </div>
            </div>
        </div>

        <!-- CONTENT END -->


        <!-- FOOTER START -->

        <%- include('layouts/adopt/adoptfooter') %>

        <!-- FOOTER END -->

    </div>

</body>

</html>