<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head') %>

<body>
    <div class="container">
        <!-- NAVBAR START -->

        <%- include('layouts/adopthead', { title: 'Help and Advice' }) %>

        <!-- NAVBAR END -->

        <!-- CONTENT START -->

        <div class="container-content height-250vh">
            <div class="content-title">
                <h1>Looking for cat advice? Our vet-approved guides focus on everything from how to care for a kitten to what to do if you've lost your cat.</h1>
            </div><br><br>
            <div class="content-help">
                <div class="content-card-2">
                    <div class="card-overlay">
                        <a href="/adopt#adopt">
                        <img src="/public/assets/cat-ls-1.jpg" alt="" class="card-2"></img>
                        <div class="overlay-text">Getting a cat</div>
                        </a>
                    </div>
                </div>
                <div class="content-card-2">
                    <div class="card-overlay">
                        <a href="/about#dental">
                        <img src="/public/assets/cat-ls-2.jpg" alt="" class="card-2">
                        <div class="overlay-text">Dental Care</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content-help">
                <div class="content-card-3">
                    <a href="/what-we-do#campaigning">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-parasite.jpeg" alt="" class="card-3"></img>
                        <div class="overlay-text">Campaigning</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-3">
                    <a href="/about#foods">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-foods.jpg" alt="" class="card-3">
                        <div class="overlay-text">Foods</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-3">
                    <a href="/donate">
                    <div class="card-overlay">
                        <img src="/public/assets/munchkin.jpg" alt="" class="card-3">
                        <div class="overlay-text">Donate</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="content-help">
                <div class="content-card-2">
                    <a href="/find-us#find">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-ls-3.jpg" alt="" class="card-2"></img>
                        <div class="overlay-text">Find Us</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-2">
                    <a href="/about#parasite">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-ls-4.jpg" alt="" class="card-2">
                        <div class="overlay-text">Parasite Control</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="content-help">
                <div class="content-card-3">
                    <a href="/about#vaccination">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-group.jpg" alt="" class="card-3"></img>
                        <div class="overlay-text">Vaccination</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-3">
                    <a href="/what-we-do#lifeline">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-life.jpg" alt="" class="card-3">
                        <div class="overlay-text">Lifeline</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-3">
                    <a href="/what-we-do#rehoming">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-rehoming.jpg" alt="" class="card-3">
                        <div class="overlay-text">Rehoming</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="content-help">
                <div class="content-card-2">
                    <a href="/what-we-do#neutering">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-neutering.jpeg" alt="" class="card-2"></img>
                        <div class="overlay-text">Neutering</div>
                    </div>
                    </a>
                </div>
                <div class="content-card-2">
                    <a href="/what-we-do#guardian">
                    <div class="card-overlay">
                        <img src="/public/assets/cat-guardian.jpg" alt="" class="card-2">
                        <div class="overlay-text">Guardian</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        

        <!-- CONTENT END -->


        <!-- FOOTER START -->

        <%- include('layouts/adoptfooter') %>

        <!-- FOOTER END -->

    </div>

</body>

</html>