<!-- LOGIN SECTION  -->
<!-- USING -->
<!-- TAILWIND CDN -->
<!-- GOOGLE FONT -->
<!-- FONT AWESOME -->

<!DOCTYPE html>
<html>

<!-- HEAD SECTION START -->

<head>
    <title>
        <% title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- HEAD SECTION END -->

<body>

    <div class="container">

        <!-- LOGIN START -->

        <div class="flex justify-center items-center h-screen bg-indigo-800">
            <div class="w-96 p-6 shadow-lg bg-white rounded-md">
                <h1 class="text-3xl block text-center font-semibold">Login <i class="fa-solid fa-cat"></i></h1>
                <hr class="mt-3">
                <form action="/login" method="POST" class=" logform">
                    <div class="mt-3">
                        <% if (message && message.length> 0) { %>   <!-- FAILED MESSAGE CONDITION -->
                            <div class="alert alert-danger" id="failflash" 
                                style="color: red; font-size: 16px; border: 1px solid red; border-radius: 5px; text-align: center; margin-bottom: 10px;">
                                <%= message %> 
                            </div>
                            <% } %>
                                <label for="username" class="block text-base mb-2">Username</label>
                                <input type="text" id="username" name="username"
                                    class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
                                    placeholder="Enter Username..." required />
                    </div>
                    <div class="mt-3">
                        <label for="password" class="block text-base mb-2">Password</label>
                        <input type="password" id="password" name="password"
                            class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600"
                            placeholder="Enter Password..." required />
                    </div>
                    
                    <div class="mt-3 flex justify-between items-center">
                        <div>
                            <a href="/register">Don't have an account?</a> <!-- REDIRECT TO REGISTER PAGE -->
                        </div> 
                        <div>
                            <a href="#" class="text-indigo-800 font-semibold">Forgot Password?</a> <!-- REDIRECT TO FORGOT PASSWORD PAGE -->
                        </div>
                    </div>

                    <div class="mt-5">
                        <button type="submit"
                            class="border-2 border-indigo-700 bg-indigo-700 text-white py-1 w-full rounded-md hover:bg-transparent hover:text-indigo-700 font-semibold"><i
                            class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;Login</button>
                    </div>
                </form>

                <!-- LOGIN MESSAGE FAILED SCRIPT START -->

                <script>
                    setTimeout(function () {
                        var flashMessage = document.getElementById('failflash');
                        if (flashMessage) {
                            flashMessage.style.display = 'none';
                        }
                    }, 3000);   // DISPLAY FAILED MESSAGE FOR 3 SECONDS
                </script>

                <!-- LOGIN MESSAGE FAILED SCRIPT END -->

            </div>
        </div>

        <!-- LOGIN END -->
        
    </div>

</body>

</html>