<!DOCTYPE html>
<html lang="en">

<%- include('layouts/adopt/head') %>

    <body>
        <div class="container">
            <!-- NAVBAR START -->

            <%- include('layouts/adopt/adopthead', { title: 'What we do' }) %>

                <!-- NAVBAR END -->

                <!-- CONTENT START -->

                <div class="container-content">
                    <div class="content-title">
                        <h1>Cats Protection is the UK's largest feline welfare charity.</h1>
                    </div>
                    <br>
                    <div class="content-desc">
                        <p>At Cats Protection we believe in matching the right cat to the right home. That's why we look
                            at everything from your potential pet's personality to where you live – creating the perfect
                            match for both cat and owner.</p><br>
                        <p>While there can be a lot to think about when adopting a cat, Cats Protection aims to take
                            away some of your worries, providing plenty of advice along the way.</p><br>
                    </div>
                    <div class="container-strip">
                        <div class="strip">
                            <div class="strip-card">
                                <img src="assets/cat-protect.jpg" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, nulla. Minus deleniti natus illum ipsum aspernatur commodi ad facere, unde omnis aut odit voluptates dolores assumenda pariatur similique itaque ex.</p>
                                    <br><br>
                                </div>
                            </div>
                            <div class="strip-card">
                                <img src="assets/cat-foods.jpg" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores perferendis voluptatum amet nobis tempore? Eligendi quasi, praesentium nesciunt ipsa odio, ratione quaerat labore quis culpa corporis minima, sapiente in repellat.</p>
                                    <br><br>
                                </div>
                            </div>
                            <div class="strip-card">
                                <img src="assets/cat-dental.png" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur similique alias consequatur deleniti corporis fuga voluptatum, ab minima laudantium commodi neque omnis aspernatur sequi praesentium laborum illum officiis temporibus.</p>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-strip">
                        <div class="strip">
                            <div class="strip-card">
                                <img src="assets/cat-protect.jpg" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur similique alias consequatur deleniti corporis fuga voluptatum, ab minima laudantium commodi neque omnis aspernatur sequi praesentium laborum illum officiis temporibus.</p>
                                    <br><br>
                                </div>
                            </div>
                            <div class="strip-card">
                                <img src="assets/cat-foods.jpg" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur similique alias consequatur deleniti corporis fuga voluptatum, ab minima laudantium commodi neque omnis aspernatur sequi praesentium laborum illum officiis temporibus.</p>
                                    <br><br>
                                </div>
                            </div>
                            <div class="strip-card">
                                <img src="assets/cat-dental.png" alt="anggora">
                                <div class="strip-content">
                                    <h2>judul</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias pariatur similique alias consequatur deleniti corporis fuga voluptatum, ab minima laudantium commodi neque omnis aspernatur sequi praesentium laborum illum officiis temporibus.</p>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="container-about">
                        <div class="container-left">
                            <h1>Our CATS (Cats and their stats) report</h1><br>
                            <p>In 2023 we spoke to over 10,000 people, from lifelong cat lovers to potential owners. The result? Up-to-date cat statistics on all things feline, from cat behaviour to ownership with the increased cost of living.</p><br>
                            <p><b>If you want to donate, you can do it here.</b></p>
                            <a><button class="btn">Donate</button></a>
                        </div>
                        <div class="container-right">
                            <img src="assets/cat-stand.jpg" alt="Cat" height="660px" width="470px">
                        </div>
                    </div>
                </div>
                
                </div>

                <!-- CONTENT END -->


                <!-- FOOTER START -->

                <%- include('layouts/adopt/adoptfooter') %>

                <!-- FOOTER END -->

        </div>

    </body>

</html>