*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}


.center, .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-sidebar {
    height: 15vh;
    display: flex;
    flex-direction: row;
}

.container-sidebar a {
    padding: 0px 5px;
}

.container-navbar {
    height: 17.5vh;
}

.pilihan {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px 0px;

}

.pilihan a {
    font-size: 20px;
    padding: 5px 20px;
    color: white;
}

.pilihan a:hover {
    cursor: pointer;
    border-radius: 100px;
    color: red;
    font-weight: bolder;
    transition: .2s ease-in-out;
}

.sosmed {
    font-size: 36px;
    margin: 30px 0px 0px 40px;
    flex: 6;
}

.sosmed a {
    color: black;
}

.sosmed a i:hover {
    color: #79016c;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.donate {
    margin: 10px 40px 0px 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.btn {
    background-color: #fae6fa;
    color: #79016c;
    margin: 25px 5px;
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.btn-secondary{
    background-color: #79016c;
    color: #fae6fa;
    margin: 25px 5px;
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.btn-secondary:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #79016c;
    transition: .12s ease-in-out;
}

.btn2 {
    background-color: #fae6fa;
    color: #79016c;
    margin: 25px 5px;
    padding: 5px 30px;
    width: 150px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.btn:hover,.btn2:hover {
    background-color: #79016c;
    color: white;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.adoptbtn {
    background-color: #fae6fa;
    color: #79016c;
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.adoptbtn:hover {
    background-color: #79016c;
    color: white;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -50px 0px 30px 0px;
}

.logo a {
    color: #7b2076;
    font-size: 28px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ul-navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 20px;
}

.li-navbar a {
    border-top: 10px;
    padding: 20px 20px;
    transition: .1s ease-in-out;
}

.li-navbar:hover a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #7b2076;
    color: white;
}

a {
    text-decoration: none;
    color: #7b2076;
}

.judul {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c928b2;
    color: #fff;
    font-size: 20px;
}

footer {
    font-family: 'Poppins';
    width: 100%;
    height: 46vh;
    background-color: #7b2076;
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.terms a {
    color: white;
}

.terms a:hover {
    color: grey;
    transition: .4s ease-in-out;
}

.regform, .logform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.m-top {
    margin-top: 5vh;
}

.container-content {
    height: 350vh;
    margin: 26vh 150px 0px 150px;
    padding-top: 10vh;
}

.container-form {
    display: flex; 
    justify-content: center; 
    align-items: flex-start;
    text-align: center;
    height: 120vh;
    padding-top: 5vh;
    margin-top: 26vh;
}

.form-isi {
    width: 300px;
    border: 2px solid #7b2076;
    background-color: #fae6fa;
    border-radius: 4px;
    padding: 7px 7px;
    margin: 10px auto 10px auto; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-form{
    display: flex; 
    justify-content: space-between;
    gap: 20px;
}

.content-title {
    color: #79016c;
    font-weight: bolder;
    align-items: center;
}

p {
    font-size: 16px;
}

.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
    height: 150vh;
}

.kotak-card {
    width: 380px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.8s ease;
    z-index: 100;
    height: 680px;
}

.kotak-card:hover {
    transform: translateY(-7.5px);
}

.kotak-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.konten-card {
    padding-top: 20px;
    margin: 0 10px;
}

.konten-card h2 {
    padding-bottom: 20px;
}

.konten-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* MY ACCOUNT CSS */

.account-container {
    height: 100vh;
    margin: 20vh 150px 0px 150px;
    padding-top: 10vh;
}

.content-account {
    display: flex;
    flex-direction: column;
}

.account-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0px;
}

.acc-isi {
    width: 300px;
    border: 2px solid #7b2076;
    background-color: #fae6fa;
    border-radius: 4px;
    padding: 7px 7px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat-isi {
    width: 300px;
    border: 2px solid #7b2076;
    background-color: #fae6fa;
    border-radius: 4px;
    padding: 7px 7px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acc-isi-luar {
    display: flex;
    flex-direction: row;
}

.none {
    display: none;
}

.new {
    padding: 9px 7px;
}

.text-form {
    font-size: 20px;
}

.change-list {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
}

.change-button {
    border: none;
    background-color: white;
    margin: 5px 0px 0px 0px;
    width: 30px;
    height: 30px;
}

.border {
    border: 2px solid #7b2076;
    background-color: #fae6fa;
    border-radius: 20px;
    font-weight: bolder;
    padding: 20px 0px;
    font-size: 14px;
}

.border:hover {
    background-color: #c928b2;
    color: #fae6fa;
    border: 2px solid black;
}

.border-2 {
    border: 2px solid black;
    background-color: crimson;
    color: #fae6fa;
    border-radius: 20px;
    font-weight: bolder;
    padding: 20px 0px;
    font-size: 16px;
}

.border-2:hover {
    background-color: #fae6fa;
    color: crimson;
    border: 2px solid black;
    transition: .9s ease-in-out;
}

.center {
    margin: 0px 10px 0px 10px;
    width: 150px;
}

.icon {
    font-size: 20px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.change-button:hover {
    cursor: pointer;
    transition: .1s ease-in-out;
}

.func-button {
    background-color: #fae6fa;
    color: #79016c;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.func-button:hover {
    background-color: #79016c;
    color: white;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.delete-button {
    background-color: #fae6fa;
    color: #cc1414;
    margin-left: 5px;
    padding: 0px 10px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.delete-button:hover {
    background-color: #cc1414;
    color: white;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.container-feature {
    display: flex;
    flex-direction: row;
}

.container-filter {
    flex: 7;
    display: flex;
    align-items: center;
}

.container-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1.5;
}

.dropdown {
    position: relative;
}

.dropbtn {
    text-decoration: none;
}

.dropdown-content {
    background-color: #fae6fa;
    margin: -20px 0px 0px 5px;
    padding: 10px 2.5px;
    border-radius: 6px;
    width: 150px;
    display: none;
    position: absolute;
    z-index: 999999;
}

.dropdown-content label {
    font-weight: bold;
}

.dropdown-checkbox {
    display: flex;
    padding: 0px 0px 5px 10px;
    font-weight: bold;
}

.dropdown-content a:hover{
    cursor: pointer;
    border-radius: 6px;
    background-color: #fff;
    transition: .15s ease-in-out;
}

.container-strip{
    height: 80vh;
    background-color: #fae6fa;
    margin: 0px -150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-strip-2{
    height: 65vh;
    background-color: #fae6fa;
    margin: 0px -150px;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strip-3{
    height: 85vh;
}

.no-bg{
    background-color: #fff;
}

.strip{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.strip-card{
    color: #fff;
    width: 375px;
    background-color: #7b2076;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.8s ease;
    z-index: 100;
}

.strip-card:hover {
    transform: translateY(-7.5px);
}

.strip-card img {
    width: 375px;
    height: 250px;
    object-fit: cover;
}

.strip-content {
    padding-top: 20px;
    margin: 0 10px;
}

.strip-content h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
}

.strip-content p {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin: 0px 10px;
}

.container-about{
    display: flex;
    flex-direction: row;
}

.container-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #7b2076;
}

.container-left p{
    font-size: 16px;
}

.container-right{
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1;
}

.scrollable-container {
    overflow-y: auto;
    height: 250vh ;
    border-radius: 10px; /* Adjust this value according to your needs */
}

.strip-card-donate{
    color: #fff;
    width: 300px;
    background-color: #7b2076;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.8s ease;
    z-index: 100;
    padding: 0px 5px;
}

.strip-card-donate:hover {
    transform: translateY(-7.5px);
}

.strip-content-donate {
    padding-top: 20px;
    margin: 0px 10px;
}

.strip-content-donate h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
}

.strip-content-donate p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin: 0px 25px;
}

.btn-donate{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c928b2;
    color: #fae6fa;
    border: #c928b2;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
}

.btn-donate:hover{
    cursor: pointer;
    background-color: #fae6fa;
    color: #c928b2;
    transition: .05s ease-in-out;
}

.red{
    color: #cc1414;
}

.container-addr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.container-search{
    width: 350px;
}

.form-search {
    width: 200px;
    border: 2px solid #7b2076;
    background-color: #fae6fa;
    border-radius: 4px;
    padding: 5px 5px;
}

.gender-option label{
    margin: 0px 10px;
}

.container-dashboard{
    height: 100vh;
    margin: 26vh 50px 0px 50px;
    padding-top: 5vh;
}

.scrollable-container-2 {
    overflow-y: auto;
    height: 70vh ;
    position: relative;
}

.table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/* .table thead{
    position: sticky; 
    top: 0; 
    background-color: #fff; 
    z-index: 1; 
} */

.table th, .table td{
    padding: 5px;
    text-align: center;
    border: 2px solid black;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 5%; /* Lebar kolom No */
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 10%; /* Lebar kolom No */
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 10%; /* Lebar kolom No */
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 15%; /* Lebar kolom No */
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 30%; /* Lebar kolom No */
}

.table th:nth-child(6), .table td:nth-child(6) {
    width: 20%; /* Lebar kolom No */
}
.table th:nth-child(7), .table td:nth-child(7) {
    width: 10%; /* Lebar kolom No */
}