<div class="container-sidebar">
    <div class="sosmed">
        <a href="https://www.tiktok.com/@catmiata"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.facebook.com/hashtagIAmCat"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cats_of_instagram/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@kittycat_10"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <div class="donate">
        <a href="#"><button class="btn">Donate</button></a>
        <a href="/login"><button class="btn">Login</button></a>
    </div>
</div>
<div class="container-navbar">
    <div class="logo">
        <a href="/">
            <h1>Catcylopedi<i class="fa-solid fa-cat"></i></h1>
        </a>
    </div>
    <div class="navbar">
        <div class="menu">
            <ul class="ul-navbar">
                <li class="li-navbar"><a href="">Adopt a cat</a></li>
                <li class="li-navbar"><a href="">About Cats Protection</a></li>
                <li class="li-navbar"><a href="">What we do</a></li>
                <li class="li-navbar"><a href="">Help and Advice</a></li>
                <li class="li-navbar"><a href="">Find Us</a></li>
                <li class="li-navbar"><a href="">My Account</a></li>
            </ul>
        </div>
    </div>
    <div class="judul">
        <h1>Adopt a cat</h1>
    </div>
</div>