<div class="container-sidebar">
    <div class="sosmed">
        <a href="https://www.tiktok.com/@catmiata"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.facebook.com/hashtagIAmCat"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cats_of_instagram/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@kittycat_10"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <div class="donate">
        <a href="#"><button class="btn">Donate</button></a>
        <a href="/login"><button class="btn">Login</button></a>
    </div>
</div>