<footer>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <div class="container-footer">
        <div class="footer">
            <div class="content-footer">
                <h1>Catcylopedia<i class="logo fa-solid fa-cat"></i></h1>
            </div>
            <div class="footer-content">
                <div class="pilihan">
                    <a href="/">Home</a>
                    <p>|</p>
                    <a href="/adopt">Adopt</a>
                </div>
            </div>
            <p class="center" style="font-size: 14px; margin-top: 50px;">&copy; 2024 Catcylopedia </p>
        </div>
    </div>
</footer>