<div class="container-sidebar">

    <!-- SIDEBAR LEFT TOP START -->
    
    <div class="sosmed">
        <a href="https://www.tiktok.com/@catmiata" target="_blank"><i class="fab fa-tiktok" ></i></a>
        <a href="https://www.facebook.com/hashtagIAmCat" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/cats_of_instagram/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@kittycat_10" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>

    <!-- SIDEBAR LEFT TOP END -->
    
    <!-- SIDEBAR RIGHT TOP START -->

    <div class="donate">
        <% if (!admin) { %>
            <a href="/donate"><button class="btn">Donate</button></a>
        <% } else { %>
            <a href="/addcat"><button class="btn2">Add Cat</button></a>
        <% } %>
        <% if (!loggedin) { %>
            <a href="/login"><button class="btn">Login</button></a>
        <% } else { %>
            <a href="/logout"><button class="btn">Logout</button></a>
        <% } %>
    </div>

    <!-- SIDEBAR RIGHT TOP END -->

</div>

<div class="container-navbar">
    <div class="logo">
        <a href="/">
            <h1>Catcylopedi<i class="fa-solid fa-cat"></i></h1>
        </a>
    </div>
    
    <!-- NAVBAR START -->
    
    <div class="navbar">
        <div class="menu">
            <ul class="ul-navbar">
                <li class="li-navbar"><a href="/adopt">Adopt a cat</a></li>
                <li class="li-navbar"><a href="/about">About Cats Protection</a></li>
                <li class="li-navbar"><a href="/what-we-do">What we do</a></li>
                <li class="li-navbar"><a href="/help-and-advice">Help and Advice</a></li>
                <li class="li-navbar"><a href="/find-us">Find Us</a></li>
                <li class="li-navbar"><a href="<%= loggedin ? '/myacc' : '/login' %>">My Account</a></li>
            </ul>
        </div>
    </div>

    <!-- NAVBAR END -->
    
    <div class="judul">
        <h1><%= title %></h1>
    </div>
</div>