<div class="container-home" id="home">
    <div class="home-left"></div>
    <div class="home-right">
        <div class="home-text">
            <h4 class="animate__animated animate__fadeInDown" style="font-size: 48px;">Are you a cat lover?</h4>
            <h4 class="animate__animated animate__fadeInDown" style="font-size: 40px;">Want to know more about
                these adorable animals?</h4>
            <h4 class="animate__animated animate__fadeInUp" style="font-size: 36px;">The Catcylopedia is here
                for you!</h4>
        </div>

        <a class="paw" href="#breeds">
            <i class="animate__animated animate__fadeInUp paw-hover fa-solid fa-paw">
                <p class="paw-text">Paw Me</p>
            </i>
        </a>
    </div>
</div>