<div class="container-treatment" id="grooming">
    <div class="groom-text">
        <h4 style="font-size: 60px;">Take care of your lovely cat</h4>
        <h4 style="font-size: 48px;">Make them feel loved and at home</h4>
    </div>
    <div class="container-groom">
        <div class="bubble-list">
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-utensils"></i>
                    <h3>Foods</h3>
                </div>
                <div class="bubble-more">
                    <!-- <h3>Foods</h3> -->
                    <h3>Provide a nutritious and balanced diet according to your cat's needs on a regular basis,
                        such as foods that contain taurine and essential amino acids for eye and heart health.
                        Then avoid foods that can interfere with your cat's health.</h3>
                </div>
            </div>
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-feather"></i>
                    <h3>Grooming</h3>
                </div>
                <div class="bubble-more">
                    <!-- <h3>Grooming</h3> -->
                    <h3>Comb your cat's coat daily to prevent tangles or dreadlocks, especially in long-haired
                        cats. Take your cat to pet care for professional grooming once a month.</h3>
                </div>
            </div>
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-tooth"></i>
                    <h3>Dental Care</h3>
                </div>
                <div class="bubble-more">
                    <h3>Regularly check your cat's gums and teeth for dental problems. Take your cat to the vet
                        to check your cat's dental health if you have any doubts.</h3>
                </div>
            </div>
        </div>
        <div class="bubble-list">
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-shield-cat"></i>
                    <h3>Parasite Control</h3>
                </div>
                <div class="bubble-more">
                    <h3>Give your cat deworming medication every 3 months to prevent worms from developing and
                        flea drops to your cat's entire body once a month to prevent flea infestation.</h3>
                </div>
            </div>
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-syringe"></i>
                    <h3>Vaccination</h3>
                </div>
                <div class="bubble-more">
                    <h3>Vaccinate your cat once a year with rabies, FVRCP and FeLV vaccines if your cat is under
                        1 year old and then once a year thereafter.</h3>
                </div>
            </div>
            <div class="bubble-item">
                <div class="bubble-info">
                    <i class="bubble-logo fa-solid fa-vial-circle-check"></i>
                    <h3>Sterilization</h3>
                </div>
                <div class="bubble-more">
                    <h3>Sterilization is not required, but if you want your cat to avoid wandering far away
                        where they may contract diseases, and want your cat to be calm and your home to be free
                        of territory markings, neutering may be recommended.</h3>
                </div>
            </div>
        </div>
    </div>
</div>